.App {
  font-family: sans-serif;
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  width: 50%;
}
.form{
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: white;
}
.value{
  background-color: darkblue;
  color: white;
  padding: 10px;
  border-radius: 20px;
}
.main{
  display: flex;
  justify-content: center;
}
